<header class="[ newsection ] [ pad-top-900 pad-bottom-max ]">
  <div class="[ inner-wrapper ] [ sf-flow ]">
    <h2 class="[ newsection__heading ] [ text-700 leading-tight ]">{{ heading }}</h2>
    <hr class="[ newsection__hr ]">
    <div class="[ newsection__summary ] [ sf-flow ] [ leading-mid measure-short ]">{{ text | safe }}</div>
  </div>
</header>